<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Tennis Data Central</title>
  <link rel="stylesheet" href="styles.css" />
</head>
<body>
    <header>
        <h1>CourtSense</h1>
        <p>Source for match stats, player rankings, and more</p>
    </header>
    <nav>
        <a href="#">Home</a>
        <a href="/rankings">Rankings</a>
        <a href="/matches">Matches</a>
        <a href="/profiles">Profiles</a>
    </nav>
    