<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>{{ title }}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>

<header>
  <h1>{{ title }}</h1>
</header>

<nav>
    <a href="/">Home</a>
    <a href="/rankings">Rankings</a>
    <a href="/matches">Matches</a>
    <a href="/profiles">Profiles</a>
</nav>

<div class="container">
    <div class="section">
      <h2>Search for a player</h2>
      <form method="get" action="/profiles">
        <input type = "search" name = "player" placeholder = "Enter player ID"></input>
        <button type="submit">Update</button>
      </form>
    </div>
    <div class="section">
      <h2>Player Profile</h2>
      {% if profiles %}
        <ul>
          {% for player in profiles %}
            <li><strong>{{ player["player_name"] }}</li>
          {% endfor %}
        </ul>
      {% else %}
        <p>No players found.</p>
      {% endif %}
    </div>
</div>